<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<!--
	@MapperName com.kingtopinfo.base.mapper.TBaseHolidaysMapper
	@Description T_BASE_HOLIDAYS
	@author 张宇然
	@date 2016-10-31 10:51:58
	@version 1.0
	@remark create by generator
	-->
	
<mapper namespace="com.godgoddess.base.mapper.TBaseHolidaysMapper">
	
	<select id="getCount" resultType="int" parameterType="tBaseHolidaysEntity">
		select 
			count(*)
		from 
			T_BASE_HOLIDAYS
	</select>
	
	<select id="selectPagination" resultType="tBaseHolidaysEntity" parameterType="tBaseHolidaysEntity">
		select 
			t.updatetime,t.updateperson,t.createtime,t.createperson,t.remark,t.isholiday,t.holidaytype,t.holidaydate,t.holidayname,t.year,t.id
		from 
			T_BASE_HOLIDAYS t

		where	
			t.year = #{year}	
			<if test="holidayname != null and holidayname != '' and holidayname != -1">
				and t.holidayname = #{holidayname}
			</if>
		order by t.year desc,t.holidaydate asc
		<!--order by
		 <choose>
			<when test="sort != null">
				 ${sort} ${order}
			</when>
			<otherwise>
			
			</otherwise>
		</choose> -->

	</select>
	
	<select id="selectByPkey" resultType="tBaseHolidaysEntity" parameterType="String">
		select 
			t.updatetime,t.updateperson,t.createtime,t.createperson,t.remark,t.isholiday,t.holidaytype,t.holidaydate,t.holidayname,t.year,t.id
		from 
			T_BASE_HOLIDAYS t
		where 
			id = #{id}
	</select>
	
	<insert id="insert" parameterType="tBaseHolidaysEntity">
		insert into T_BASE_HOLIDAYS(
			updatetime,updateperson,createtime,createperson,remark,isholiday,holidaytype,holidaydate,holidayname,year,id
		)values(
			#{updatetime,jdbcType=TIME},#{updateperson,jdbcType=VARCHAR},#{createtime,jdbcType=TIME},#{createperson,jdbcType=VARCHAR},#{remark,jdbcType=VARCHAR},#{isholiday,jdbcType=INTEGER},#{holidaytype,jdbcType=VARCHAR},#{holidaydate,jdbcType=TIME},#{holidayname,jdbcType=VARCHAR},#{year,jdbcType=INTEGER},#{id,jdbcType=VARCHAR}
		)
	</insert>
	
	<update id="update" parameterType="tBaseHolidaysEntity">
		update T_BASE_HOLIDAYS
		set 
			updatetime = #{updatetime,jdbcType=TIME}, updateperson = #{updateperson,jdbcType=VARCHAR}, createtime = #{createtime,jdbcType=TIME}, createperson = #{createperson,jdbcType=VARCHAR}, remark = #{remark,jdbcType=VARCHAR}, isholiday = #{isholiday,jdbcType=INTEGER}, holidaytype = #{holidaytype,jdbcType=VARCHAR}, holidaydate = #{holidaydate,jdbcType=TIME}, holidayname = #{holidayname,jdbcType=VARCHAR}, year = #{year,jdbcType=INTEGER}
		where
			id = #{id}
	</update>
	
	<delete id="delete" parameterType="String">
		delete from T_BASE_HOLIDAYS where id = #{id}
	</delete>
	
</mapper>