<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<!--
	@MapperName com.kingtopinfo.base.mapper.TBaseFileMapper
	@Description T_BASE_FILE
	@author 林祥聪  lxcl@kingtopinfo.com
	@date 2016-10-26 16:19:23
	@version 1.0
	@remark create by generator
	-->
	
<mapper namespace="com.godgoddess.base.mapper.TBaseFileMapper">
	
	<select id="getCount" resultType="int" parameterType="tBaseFileEntity">
		select 
			count(*)
		from 
			T_BASE_FILE
	</select>
	
	<select id="selectPagination" resultType="tBaseFileEntity" parameterType="tBaseFileEntity">
		select 
			t.filesize,t.gxsj,t.cjr,t.state,t.remark,t.extend,t.filepath,t.filename,t.operatype,t.operaid,t.fileid
		from 
			T_BASE_FILE t
		<where>
			<if test="cjr != null and cjr != ''">
				t.cjr like '%'||#{cjr,jdbcType=VARCHAR}||'%'
			</if>
		</where>	
		order by
		<choose>
			<when test="sort != null">
				 ${sort} ${order}
			</when>
			<otherwise>
				t.fileid desc
			</otherwise>
		</choose>
	</select>
	
	<select id="selectByPkey" resultType="tBaseFileEntity" parameterType="String">
		select 
			t.filesize,t.gxsj,t.cjr,t.state,t.remark,t.extend,t.filepath,t.filename,t.operatype,t.operaid,t.fileid
		from 
			T_BASE_FILE t
		where 
			fileid = #{fileid}
	</select>
	
	<select id="selectByOperaid" resultType="tBaseFileEntity" parameterType="String">
		select 
			t.filesize,t.gxsj,t.cjr,t.state,t.remark,t.extend,t.filepath,t.filename,t.operatype,t.operaid,t.fileid
		from 
			T_BASE_FILE t
		where 
			operaid = #{operaid}
	</select>
	
	<insert id="insert" parameterType="tBaseFileEntity">
		insert into T_BASE_FILE(
			filesize,gxsj,cjr,state,remark,extend,filepath,filename,operatype,operaid,fileid
		)values(
			#{filesize,jdbcType=INTEGER},#{gxsj,jdbcType=TIME},#{cjr,jdbcType=VARCHAR},#{state,jdbcType=INTEGER},#{remark,jdbcType=VARCHAR},#{extend,jdbcType=VARCHAR},#{filepath,jdbcType=VARCHAR},#{filename,jdbcType=VARCHAR},#{operatype,jdbcType=VARCHAR},#{operaid,jdbcType=VARCHAR},#{fileid,jdbcType=VARCHAR}
		)
	</insert>
	
	<update id="update" parameterType="tBaseFileEntity">
		update T_BASE_FILE
		set 
			filesize = #{filesize,jdbcType=INTEGER}, gxsj = #{gxsj,jdbcType=TIME}, cjr = #{cjr,jdbcType=VARCHAR}, state = #{state,jdbcType=INTEGER}, remark = #{remark,jdbcType=VARCHAR}, extend = #{extend,jdbcType=VARCHAR}, filepath = #{filepath,jdbcType=VARCHAR}, filename = #{filename,jdbcType=VARCHAR}, operatype = #{operatype,jdbcType=VARCHAR}, operaid = #{operaid,jdbcType=VARCHAR}
		where
			fileid = #{fileid}
	</update>
	
	<delete id="delete" parameterType="String">
		delete from T_BASE_FILE where fileid = #{fileid}
	</delete>
	
	<delete id="deleteByOperaid" parameterType="String">
		delete from T_BASE_FILE where operaid = #{operaid}
	</delete>
	
	<select id="selectByFilePath" parameterType="String" resultType="tBaseFileEntity">
		select 
			t.filesize,t.gxsj,t.cjr,t.state,t.remark,t.extend,t.filepath,t.filename,t.operatype,t.operaid,t.fileid
		from 
			T_BASE_FILE t
		where 
			filepath = #{filepath}
	</select>
	
	<select id="selectByOperatypeAndOperaid" resultType="tBaseFileEntity" parameterType="tBaseFileEntity">
		select 
			fileid,operaid,operatype,filename,filepath,extend,filesize,remark,state,cjr,gxsj 
		from 
			T_BASE_FILE 
		where 
			operatype = #{operatype} and operaid = #{operaid}
	</select>
	
</mapper>