<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<!--
	@MapperName com.kingtopinfo.base.mapper.TBaseUserExtMapper
	@Description T_BASE_USER_EXT表映射配置文件
	@author 姚子鹏 yaozp@kingtopinfo.com
	@date 2014-12-29 10:12:19
	@version 1.0
	@remark create by generator
	-->
	
<mapper namespace="com.godgoddess.base.mapper.TBaseUserExtMapper">
	
	<select id="selectByUserid" resultType="tBaseUserExtEntity" parameterType="String"> 
		select 
			mail,mobile,tel,xzqy,sex,userid,id 
		from 
			T_BASE_USER_EXT t
		where 
			t.userid = #{userid}
	</select>
	
	<select id="getByPkey" resultType="tBaseUserExtEntity" parameterType="String">
		select 
			mail,mobile,tel,xzqy,sex,userid,id 
		from 
			T_BASE_USER_EXT 
		where 
			id = #{id}
	</select>
	
	<insert id="insert" parameterType="tBaseUserExtEntity">
		insert into T_BASE_USER_EXT(
			mail,mobile,tel,xzqy,sex,userid,id
		)values(
			#{mail,jdbcType=VARCHAR},#{mobile,jdbcType=VARCHAR},#{tel,jdbcType=VARCHAR},#{xzqy,jdbcType=VARCHAR},#{sex,jdbcType=VARCHAR},#{userid,jdbcType=VARCHAR},#{id,jdbcType=VARCHAR}
		)
	</insert>
	
	<update id="update" parameterType="tBaseUserExtEntity">
		update T_BASE_USER_EXT
		set 
			mail = #{mail,jdbcType=VARCHAR}, mobile = #{mobile,jdbcType=VARCHAR}, tel = #{tel,jdbcType=VARCHAR}, xzqy = #{xzqy,jdbcType=VARCHAR}, sex = #{sex,jdbcType=VARCHAR}, userid = #{userid,jdbcType=VARCHAR} 
		where 
			userid = #{userid}
	</update>
	
	<delete id="delete" parameterType="String">
		delete FROM T_BASE_USER_EXT where id = #{id}
	</delete>
	
</mapper>