<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<!--
	@MapperName com.kingtopinfo.base.mapper.TBaseMenuModuleMappingMapper
	@Description T_BASE_MENU_MODULE_MAPPING
	@author 张秋权  zhangqq@kingtopinfo.com
	@date 2017-03-21 09:32:54
	@version 1.0
	@remark create by generator
	-->
	
<mapper namespace="com.godgoddess.base.mapper.TBaseMenuModuleMappingMapper">
	
	<select id="getCount" resultType="int" parameterType="tBaseMenuModuleMappingEntity">
		select 
			count(*)
		from 
			T_BASE_MENU_MODULE_MAPPING
	</select>
	
	<select id="selectPagination" resultType="tBaseMenuModuleMappingEntity" parameterType="tBaseMenuModuleMappingEntity">
		select 
			t.updatetime,t.moduleid,t.menuid,t.id,t.roleid
		from 
			T_BASE_MENU_MODULE_MAPPING t
	</select>
	
	<select id="selectByPkey" resultType="tBaseMenuModuleMappingEntity" parameterType="String">
		select 
			t.updatetime,t.moduleid,t.menuid,t.id,t.roleid
		from 
			T_BASE_MENU_MODULE_MAPPING t
		where 
			id = #{id}
	</select>
	
	<insert id="insert" parameterType="tBaseMenuModuleMappingEntity">
		insert into T_BASE_MENU_MODULE_MAPPING(
			updatetime,moduleid,menuid,id,roleid
		)values(
			#{updatetime,jdbcType=TIME},#{moduleid,jdbcType=VARCHAR},#{menuid,jdbcType=VARCHAR},#{id,jdbcType=VARCHAR},#{roleid,jdbcType=VARCHAR}
		)
	</insert>
	
	<update id="update" parameterType="tBaseMenuModuleMappingEntity">
		update T_BASE_MENU_MODULE_MAPPING
		set 
			updatetime = #{updatetime,jdbcType=TIME}, moduleid = #{moduleid,jdbcType=VARCHAR}, menuid = #{menuid,jdbcType=VARCHAR}, roleid = #{roleid,jdbcType=VARCHAR}
		where
			id = #{id}
	</update>
	
	<delete id="delete" parameterType="String">
		delete from T_BASE_MENU_MODULE_MAPPING where  id = #{id}
	</delete>
	
	<delete id="deletemenuAndModule" parameterType="tBaseMenuModuleMappingEntity">
		delete from T_BASE_MENU_MODULE_MAPPING where moduleid = #{moduleid} and menuid = #{menuid} and roleid = #{roleid}
	</delete>

	
</mapper>