<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<!--
	@MapperName com.kingtopinfo.base.mapper.TBaseGroupMapper
	@Description T_BASE_GROUP表映射配置文件
	@author 姚子鹏 yaozp@kingtopinfo.com
	@date 2014-12-26 10:40:48
	@version 1.0
	@remark create by generator
	-->
	
<mapper namespace="com.godgoddess.base.mapper.TBaseGroupMapper">
	
	<select id="getCount" resultType="int" parameterType="tBaseGroupEntity">
		select 
			count(*)
		from 
			T_BASE_GROUP
	</select>
	
	<select id="selectPagination" resultType="tBaseGroupEntity" parameterType="tBaseGroupEntity">
		select 
			updatetime,pid,gname,id 
		from 
			T_BASE_GROUP
	</select>
	
	<select id="selectGnameByPid" resultType="tBaseGroupEntity" parameterType="String">
		select g.gname,g.pid
		from
			T_BASE_GROUP g
		where g.id = #{pid}
	</select>
	
	<select id="select" resultType="tBaseGroupEntity">
		select 
			updatetime,pid,gname,id 
		from 
			T_BASE_GROUP
	</select>
	
	<select id="getByPkey" resultType="tBaseGroupEntity" parameterType="String">
		select 
			updatetime,pid,gname,id 
		from 
			T_BASE_GROUP 
		where 
			id = #{id}
	</select>
	
	<insert id="insert" parameterType="tBaseGroupEntity">
		insert into T_BASE_GROUP(
			updatetime,pid,gname,id
		)values(
			#{updatetime,jdbcType=TIME},#{pid,jdbcType=VARCHAR},#{gname,jdbcType=VARCHAR},#{id,jdbcType=VARCHAR}
		)
	</insert>
	
	<update id="update" parameterType="tBaseGroupEntity">
		update T_BASE_GROUP
		set 
			updatetime = #{updatetime,jdbcType=TIME},gname = #{gname,jdbcType=VARCHAR} 
		where 
			id = #{id}
	</update>
	
	<delete id="delete" parameterType="String">
		delete FROM T_BASE_GROUP where id = #{id}
	</delete>
	
	<update id="move" parameterType="tBaseGroupEntity">
        update T_BASE_GROUP
        set 
            pid = #{pid,jdbcType=VARCHAR}
        where 
            id = #{id}
    </update>
	
</mapper>