<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<!--
	@MapperName com.kingtopinfo.base.mapper.TBaseMenuMapper
	@Description T_BASE_MENU表映射配置文件
	@author dzb@kingtopinfo.com
	@date 2014-02-20 09:12:37
	@version 1.0
	@remark create by generator
	-->
	
<mapper namespace="com.godgoddess.base.mapper.TBaseMenuMapper">
	
	<select id="select" resultType="tBaseMenuEntity">
		select 
			*
		from 
			T_BASE_MENU
		where type = 'MENU'
		order by sequ ASC	
	</select>
	
	<select id="selectByPid" resultType="tBaseMenuEntity" parameterType="String">
        select 
           *
        from 
            T_BASE_MENU
        where 
            pid = #{pid}  
            and type = 'MENU'
        order by sequ ASC      
    </select>
    
	<select id="selectByKey" resultType="tBaseMenuEntity" parameterType="String">
		select 
			*
		from 
			T_BASE_MENU 
		where 
			id = #{id}
			and type = 'MENU'
	</select>
	
	<insert id="insert" parameterType="tBaseMenuEntity">
		insert into T_BASE_MENU(
			id,
			pid,
			name,
			url,
			icon,
			state,
			updatetime,
			sequ,
			type
		)values(
			#{id,jdbcType=VARCHAR},
			#{pid,jdbcType=VARCHAR},
			#{name,jdbcType=VARCHAR},
			#{url,jdbcType=VARCHAR},
			#{icon,jdbcType=VARCHAR},
			#{state,jdbcType=INTEGER},
			#{updatetime,jdbcType=TIME},
			#{sequ,jdbcType=INTEGER},
			#{type,jdbcType=VARCHAR}
		)
	</insert>
	
	<update id="update" parameterType="tBaseMenuEntity">
		update T_BASE_MENU
		set 
			name = #{name,jdbcType=VARCHAR}, 
			url = #{url,jdbcType=VARCHAR},
			icon = #{icon,jdbcType=VARCHAR},
			state = #{state,jdbcType=INTEGER}, 
			updatetime = #{updatetime,jdbcType=TIME}
		where 
			id = #{id}
	</update>
	
	<update id="move" parameterType="tBaseMenuEntity">
        update T_BASE_MENU
        set 
            pid = #{pid,jdbcType=VARCHAR}
        where 
            id = #{id}
    </update>
	
	<delete id="delete" parameterType="String">
		delete FROM T_BASE_MENU where id = #{id}
	</delete>
	
	<!-- 以上为代码生成器自动生成 -->
	<select id="selectByRole" resultType="tBaseMenuEntity" parameterType="String">
		select 
			*
		from 
			T_BASE_MENU
		where
			id in (select menuid from T_BASE_ROLE_MENU_MAPPING where roleid in 
			<foreach collection="list" item="roleid" index="index" open="(" close=")" separator=",">
		      #{roleid}
			</foreach>
			) and type = 'MENU'
		order by sequ ASC		
	</select>
	
	<select id="selectMaxSequ" resultType="Integer">
		select 
			max(sequ)
		from 
			T_BASE_MENU 
		where type = 'MENU'
	</select>
	
	<update id="updateSequ" parameterType="tBaseMenuEntity">
		update T_BASE_MENU
		set 
			sequ = #{sequ,jdbcType=INTEGER}
		where 
			id = #{id}
	</update>
	
		<select id="selectUrlByRoleId" resultType="string" parameterType="string">
		select 
			m.url
		from 
			T_BASE_MENU m, 
			T_BASE_ROLE_MENU_MAPPING t
		where 
			m.id = t.menuid
			and t.roleid = #{roleid}
			and m.type = 'MENU'
	</select>
	
	<select id="selectAllUrl" resultType="tBaseMenuEntity" >
		select 
			t.url,t.type 
		from 
			T_BASE_MENU t 
		where 
			t.url !=  '-'
	</select>
	
	<select id="selectRoleByUrl" resultType="string" parameterType="string">
		select 
			m.roleid
		from 
			T_BASE_MENU t, 
			T_BASE_ROLE_MENU_MAPPING m
		where 
			t.id = m.menuid
			and url = #{url}
			and t.type = 'MENU'
	</select>
	
	<select id="selectRoleByActionUrl" resultType="string" parameterType="string">
		select 
			m.roleid
		from 
			T_BASE_MENU t, 
			T_BASE_ROLE_MENU_MAPPING m
		where 
			t.pid = m.menuid
			and url = #{url}
			and t.type = 'ACTION'
	</select>
	
	<select id="selectAction" resultType="tBaseMenuEntity" parameterType="String">
		select 
			*
		from 
			T_BASE_MENU
		where 
			type = 'ACTION' and pid = #{pid}
	</select>
	
	<select id="urlIfExist" resultType="Integer" parameterType="tBaseMenuEntity">
		select 
			count(*)
		from 
			T_BASE_MENU t
		where 
			t.pid = #{pid}
			and t.type = 'ACTION'
			and t.url = #{url}
	</select>
	
	
	<select id="selectByUrl" resultType="tBaseMenuEntity" parameterType="string">
		select 
			*
		from 
			T_BASE_MENU
		where 
			url = #{url}
	</select>
	
	 <select id="selectroleOfMenu" resultType="tBaseMenuEntity">
		select 
			type,sequ,updatetime,state,pid,url,name,id
		from 
			T_BASE_MENU
        where 
            id in (select menuid from T_BASE_ROLE_MENU_MAPPING rm where rm.roleid = #{roleid})
            
         order by sequ ASC	
    </select>
	
</mapper>