<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<!--
	@MapperName com.kingtopinfo.mapper.TBaseTypeMapper
	@Description T_BASE_TYPE表映射配置文件
	@author dzb@kingtopinfo.com
	@date 2013-11-19 15:45:37
	@version 1.0
	@remark create by generator
	-->

	
<mapper namespace="com.godgoddess.base.mapper.TBaseTypeMapper">
	
	
	<select id="selectValueByCode" resultType="TBaseTypeEntity" parameterType="String">
		select 
			value,name
		from 
			T_BASE_TYPE
		where
			code = #{code} and type is null order by sequ ASC
	</select>
	<select id="selectByCode" resultType="tBaseTypeEntity" parameterType="String">
		select 
			id,code,name,value,status,updateTime,pid,type,sequ,ver
		from 
			T_BASE_TYPE
		where
			code = #{code} and status = 1 and type is null order by sequ ASC
	</select>
	
	<select id="selectByKey" resultType="tBaseTypeEntity" parameterType="String">
		select 
			id,code,name,value,status,updateTime,pid,type,sequ,ver
		from 
			T_BASE_TYPE
		where
			id = #{id}
	</select>
	
	<select id="selectAllByCode" resultType="tBaseTypeEntity" parameterType="String">
		select 
			id,code,name,value,status,updateTime,pid,type,sequ,ver
		from 
			T_BASE_TYPE
		where
			code = #{code} and type is null order by sequ ASC
	</select>
	
	<select id="selectByCodeAndValue" resultType="tBaseTypeEntity" parameterType="tBaseTypeEntity">
		select 
			id,code,name,value,status,updateTime,pid,type,sequ,ver
		from 
			T_BASE_TYPE
		where
			code = #{code} and 	value = #{value}
	</select>
	
	<select id="selectNameByCodeAndValue" resultType="string" parameterType="tBaseTypeEntity">
		select 
			name
		from 
			T_BASE_TYPE
		where
			code = #{code} and 	value = #{value} and status = 1
	</select>
	
	<select id="selectByQjxzqh" resultType="tBaseTypeEntity" parameterType="tBaseTypeEntity">
		select 
			id,code,name,value,status,updateTime,pid,type,sequ,ver
		from 
			T_BASE_TYPE
		where
			code = #{code} and 	pid = #{pid}
	</select>
	
	<select id="selectMaxVlueByCode" resultType="String" parameterType="String">
		select 
			max(TO_NUMBER(value)) as value
		from 
			T_BASE_TYPE
		where
			code = #{code}
	</select>
	
	<insert id="insert" parameterType="tBaseTypeEntity">
		insert into T_BASE_TYPE(
			id,
			code,
			name,
			value,
			status,
			updateTime,
			pid,
			type,
			sequ,
			ver
		)values(
			#{id,jdbcType=VARCHAR},
			#{code,jdbcType=VARCHAR},
			#{name,jdbcType=VARCHAR},
			#{value,jdbcType=VARCHAR},
			#{status,jdbcType=INTEGER},
			#{updateTime,jdbcType=TIME},
			#{pid,jdbcType=VARCHAR},
			#{type,jdbcType=VARCHAR},
			#{sequ,jdbcType=INTEGER},
			0
		)
	</insert>
	
	<update id="update" parameterType="tBaseTypeEntity">
		update T_BASE_TYPE
		set 
			code = #{code,jdbcType=VARCHAR}, 
			name = #{name,jdbcType=VARCHAR}, 
			value = #{value,jdbcType=VARCHAR}, 
			status = #{status,jdbcType=INTEGER}, 
			type = #{type,jdbcType=VARCHAR}, 
			updateTime = #{updateTime,jdbcType=TIME} 
		where 
			id = #{id}
	</update>
	
	<update id="updateSequ" parameterType="tBaseTypeEntity">
		update T_BASE_TYPE
		set 
			sequ = #{sequ,jdbcType=INTEGER}
		where 
			id = #{id}
	</update>
	
	<delete id="delete" parameterType="String">
		delete FROM T_BASE_TYPE  where id = #{id}
	</delete>
	<!-- 以上为代码生成器自动生成 -->
	
	<update id="move" parameterType="tBaseTypeEntity">
		update T_BASE_TYPE
		set 
			pid = #{pid,jdbcType=INTEGER}
		where 
			id = #{id}
	</update>
	
	<select id="selectMenu" resultType="tBaseTypeEntity" parameterType="String">
		select 
			id,code,name,value,status,updateTime,pid,type,sequ,ver
		from 
			T_BASE_TYPE
		where
			type = #{type} 
		order by 
			sequ ASC
	</select>
	
	<select id="selectCountByPid" resultType="Integer" parameterType="String">
		select 
			count(*)
		from 
			T_BASE_TYPE
		where
			pid = #{pid,jdbcType=VARCHAR}
	</select>
	
	<select id="selectMaxSequ" resultType="Integer">
		select 
			max(sequ)
		from 
			T_BASE_TYPE 
	</select>
	
	<select id="selectAll" resultType="tBaseTypeEntity">
		select 
			id,code,name,value,status,updateTime,pid,type,sequ,ver
		from 
			T_BASE_TYPE
	</select>
	
	<select id="selectVerByCode" resultType="Integer" parameterType="String">
		select 
			ver
		from 
			T_BASE_TYPE
		where 
			code = #{code,jdbcType=VARCHAR}
			and type is not null
	</select>
	
	<update id="updateVerByCode" parameterType="tBaseTypeEntity">
		update T_BASE_TYPE
		set 
			ver = #{ver,jdbcType=INTEGER}, 
			updateTime = #{updateTime,jdbcType=TIME} 
		where 
			code = #{code,jdbcType=VARCHAR}
			and type is not null
	</update>
	
	<select id="selectNameAndValueByCode" resultType="tBaseTypeEntity" parameterType="String">
		select 
			name,value
		from 
			T_BASE_TYPE
		where
			code = #{code} 
			and status = 1 
			and type is null 
		order by 
			sequ ASC
	</select>
</mapper>