<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<!--
	@MapperName com.godgoddess.base.mapper.TBaseDocumentMapper
	@Description T_BASE_DOCUMENT
	@author dzb@kingtopinfo.com
	@date 2016-10-14 13:49:04
	@version 1.0
	@remark create by generator
	-->
	
<mapper namespace="com.godgoddess.base.mapper.TBaseDocumentMapper">
	
	<select id="getCount" resultType="int" parameterType="tBaseDocumentEntity">
		select 
			count(*)
		from 
			T_BASE_DOCUMENT
	</select>
	
	<select id="selectPagination" resultType="tBaseDocumentEntity" parameterType="tBaseDocumentEntity">
		select 
			t.updateuser,t.updatetime,t.createuser,t.createtime,t.state,t.sizes,t.ext,t.path,t.name,t.base_document_id,t.src_id,t.md5key
		from 
			T_BASE_DOCUMENT t
		order by
			t.updatetime desc
	</select>
	
	<select id="getByPkey" resultType="tBaseDocumentEntity" parameterType="String">
		select 
			t.updateuser,t.updatetime,t.createuser,t.createtime,t.state,t.sizes,t.ext,t.path,t.name,t.base_document_id,t.md5key
		from 
			T_BASE_DOCUMENT t
		where 
			base_document_id = #{base_document_id}
	</select>
	
	<insert id="insert" parameterType="tBaseDocumentEntity">
		insert into T_BASE_DOCUMENT(
			updateuser,updatetime,createuser,createtime,state,sizes,ext,path,name,base_document_id,src_id,md5key
		)values(
			#{updateuser,jdbcType=VARCHAR},#{updatetime,jdbcType=TIME},#{createuser,jdbcType=VARCHAR},#{createtime,jdbcType=TIME},#{state,jdbcType=INTEGER},#{sizes,jdbcType=INTEGER},#{ext,jdbcType=VARCHAR},#{path,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR},#{base_document_id,jdbcType=VARCHAR},#{src_id,jdbcType=VARCHAR},#{md5key,jdbcType=VARCHAR}
		)
	</insert>
	
	<update id="update" parameterType="tBaseDocumentEntity">
		update T_BASE_DOCUMENT
		set 
			updateuser = #{updateuser,jdbcType=VARCHAR}, 
			updatetime = #{updatetime,jdbcType=TIME}, 
			createuser = #{createuser,jdbcType=VARCHAR}, 
			createtime = #{createtime,jdbcType=TIME}, 
			state = #{state,jdbcType=INTEGER}, 
			sizes = #{sizes,jdbcType=INTEGER}, 
			ext = #{ext,jdbcType=VARCHAR}, 
			path = #{path,jdbcType=VARCHAR}, 
			name = #{name,jdbcType=VARCHAR},
			src_id = #{src_id,jdbcType=VARCHAR},
			md5key = #{md5key,jdbcType=VARCHAR}
		where
			base_document_id = #{base_document_id}
	</update>
	
	<delete id="delete" parameterType="String">
		delete from T_BASE_DOCUMENT where base_document_id = #{base_document_id}
	</delete>
	
	<select id="selectBySrcId" resultType="tBaseDocumentEntity" parameterType="String">
		select 
			t.sizes,t.ext,t.name,t.base_document_id,src_id,md5key
		from 
			T_BASE_DOCUMENT t
		where 
			src_id = #{src_id}
	</select>
	
</mapper>