<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.2.xsd">
	
	<http pattern="/**/*.css" security="none"/>
	<http pattern="/**/*.png" security="none"/>
	<http pattern="/**/*.jpg" security="none"/>
	
	<http pattern="/base/login.html" security="none"/>
	<http pattern="/base/login.js" security="none"/>
	<http pattern="/base/regist.jsp" security="none"/>
	<http pattern="/base/regist.js" security="none"/>
	<http pattern="/base/login_error.jsp" security="none"/>
	<http pattern="/base/login_error.js" security="none"/>

    <http auto-config="true" use-expressions="true" access-denied-page="/base/403.jsp">
    	
        <form-login login-page="/base/login.html"
        			login-processing-url="/_check" 
        			username-parameter="phone" 
        			password-parameter="password"
        			authentication-success-handler-ref="loginSuccessHandler" 
        			authentication-failure-handler-ref="loginFailureHandler" />
        <logout success-handler-ref="logoutHandler"/>
        
        <custom-filter before="FILTER_SECURITY_INTERCEPTOR" ref="userDefinedAbstractFilter" />
    </http>
    
    <beans:bean id="loginSuccessHandler" class="com.godgoddess.base.security.LoginSuccessHandler">
    	<beans:property name="defaultTargetUrl" value="/tBaseUser/selectone.action"></beans:property>  
    </beans:bean>
    
    <beans:bean id="loginFailureHandler" class="com.godgoddess.base.security.LoginFailureHandler">
    	<beans:property name="defaultTargetUrl" value="/tBaseUser/selectone.action"></beans:property>  
    </beans:bean>
    
     <beans:bean id="logoutHandler" class="com.godgoddess.base.security.LogoutHandler">
     	<beans:property name="defaultTargetUrl" value="/base/login.jsp"></beans:property>  
    </beans:bean>
    
    <beans:bean id="userDefinedAbstractFilter" class="com.godgoddess.base.security.UserDefinedAbstractFilter">
        <beans:property name="authenticationManager" ref="authenticationManager" />
        <beans:property name="accessDecisionManager" ref="urlDecisionManager" />
        <beans:property name="securityMetadataSource" ref="resourceMetadataSource" />
    </beans:bean>
    
    <!-- 认证管理器，实现用户认证的入口，主要实现UserDetailsService接口即可 -->
    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref="login">
        </authentication-provider>
    </authentication-manager>
    <beans:bean id="login" class="com.godgoddess.base.security.Login" />
    <beans:bean id="urlDecisionManager" class="com.godgoddess.base.security.UrlDecisionManager" />
    <beans:bean id="tBaseResUrlSecurity" class="com.godgoddess.base.security.TBaseResUrlSecurity">
    </beans:bean>
    
    <!-- 资源源数据定义，即定义某一资源可以被哪些角色访问 -->
    <beans:bean id="resourceMetadataSource"
        class="com.godgoddess.base.security.ResourceMetadataSource" >
        <beans:constructor-arg>
    		<beans:ref bean="tBaseResUrlSecurity"/>
    	</beans:constructor-arg> 
    </beans:bean>

</beans:beans>